.App {
  text-align: center;
  width: 100%;
  background-color: #0F1C2F ;
  color: white;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:active {
  color: inherit;
}